@if (Abilita != null)
{
    <div class="flex p-2 gap-2">
        <div class="leading-6 flex-grow-0">
            <InputCheckbox @bind-Value="Abilita.Utilizzata"></InputCheckbox>
        </div>
        <div class="leading-6 flex-auto text-sm">
            @Abilita.Nome
        </div>
        @if (Abilita.Custom)
        {
            <button type="button" @onclick="Delete">
                <i class="bi bi-trash-fill"></i>
            </button>
        }
        <div class="leading-6 flex-grow-0">
            <InputNumber class="w-10 font-bold text-right select-all" @bind-Value="Abilita.Base" />
        </div>
        <div class="leading-6 text-sm flex-[0_0_40px] text-center">@Abilita.Arduo/@Abilita.Estremo</div>
    </div>
}


@code {
    [Parameter]
    public AbilitaModel? Abilita { get; set; }

    [Parameter]
    public EventCallback<AbilitaModel> OnDelete { get; set; }

    private async void Delete()
    {
        await OnDelete.InvokeAsync(Abilita);
    }
}