@if (Arma != null)
{
    <div class="flex p-2 gap-2">
        <div class="leading-6 text-sm">
            @Arma.Nome
        </div>
        <div class="leading-6 text-sm">
            @Abilita!.Base / @Abilita!.Arduo / @Abilita!.Estremo
        </div>
        <button type="button" @onclick="Delete">
            <i class="bi bi-trash-fill"></i>
        </button>
    </div>
}

@code {
    [Parameter]
    public ArmaModel? Arma { get; set; }

    [Parameter]
    public AbilitaModel? Abilita { get; set; }

    [Parameter]
    public EventCallback<ArmaModel> OnDelete { get; set; }

    private async void Delete()
    {
        await OnDelete.InvokeAsync(Arma);
    }
}