@if (caratteristica != null)
{
    <div class="flex flex-col items-center border border-slate-900 bg-gray-300">
        <div class="text-center leading-6">
            @caratteristica.Abbreviazione
        </div>
        <div class=" leading-6">
            <InputNumber class="w-12 font-bold text-center text-lg" id="base" @bind-Value="caratteristica.Base" />
        </div>
        <div class=" leading-6 text-xs text-center">@caratteristica.Arduo/@caratteristica.Estremo</div>
    </div>
}


@code {
    [Parameter]
    public CaratteristicaModel? caratteristica { get; set; }
}
