@if (caratteristica != null)
{
    <div class="flex flex-col p-2 items-center">
        <div class="text-center leading-6">
            @caratteristica.Abbreviazione
        </div>
        <div class=" leading-6">
            <input class="w-12 font-bold text-center text-lg select-all" @bind-value="caratteristica.Base" @bind-value:event="oninput" />
        </div>
        <div class=" leading-6 text-xs text-center">@caratteristica.Arduo/@caratteristica.Estremo</div>
    </div>
}


@code {
    [Parameter]
    public CaratteristicaModel? caratteristica { get; set; }
}
