<div class="flex flex-col p-2">
    <h3 class="font-bold text-sm">@Titolo</h3>
    <InputTextArea rows="6" @bind-Value="Testo" class="text-sm" @oninput="OnNotaChanged"></InputTextArea>
</div>

@code {
    [Parameter]
    public string Titolo { get; set; } = string.Empty;

    [Parameter]
    public string Testo { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> TestoChanged { get; set; }

    private async Task OnNotaChanged(ChangeEventArgs e)
    {
        await TestoChanged.InvokeAsync(e.Value?.ToString());
    }
}