@inject IJSRuntime JSRuntime
<button class="btn-primary w-full" @onclick="Open">Aggiungi nuova arma</button>

@if (isModalOpen)
{
    <div class="fixed z-10 left-0 top-0 w-full h-screen overflow-y-hidden bg-white flex justify-center items-center">
        <div class="mx-4 my-auto p-4 bg-white">
            <div class="mb-4">
                <label for="nomeArma" class="text-slate-400">Nome</label>
                <input id="nomeArma" type="text" class="w-full border border-slate-900 p-2" @bind-value="arma.Nome" />
            </div>
            <div class="mb-4">
                <label for="nomeAbilita" class="text-slate-400">Specifica Abilità</label>
                <ul id="nomeAbilita">
                    @foreach (var abilitaCombattimento in ElencoAbilita)
                    {
                        <li @onclick="@(() => Select(abilitaCombattimento.Nome))">
                            <div class="cursor-pointer text-teal-900">
                                @abilitaCombattimento.Nome
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

@code {
    private ArmaModel arma = new ArmaModel();
    private bool isModalOpen = false;

    [Parameter]
    public EventCallback<ArmaModel> OnNuovaArma { get; set; }

    [Parameter]
    public List<AbilitaModel> ElencoAbilita { get; set; } = new List<AbilitaModel>();

    private void Add()
    {
        if (!string.IsNullOrEmpty(arma.Nome.Trim()) && !string.IsNullOrEmpty(arma.NomeAbilita.Trim()))
        {
            OnNuovaArma.InvokeAsync(arma);
            arma = new ArmaModel();
        }
    }

    private async void Open()
    {
        isModalOpen = true;
        await JSRuntime.InvokeVoidAsync("bodyOverflow", isModalOpen);
    }

    private async void Select(string abilita)
    {
        arma.NomeAbilita = abilita;
        isModalOpen = false;
        await JSRuntime.InvokeVoidAsync("bodyOverflow", isModalOpen);
        Add();
    }
}