@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input, textarea {
    background-color: transparent;
  }

  /* CHECKBOX TOGGLE SWITCH */
  /* @apply rules for documentation, these do not work as inline style */
  .toggle-checkbox:checked {
    @apply: right-0 border-teal-900;
    right: 0;
    border-color: rgb(19, 78, 74);
  }

  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-teal-900;
    background-color: rgb(19, 78, 74);
  }
}
@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-teal-900 text-white hover:bg-teal-800;
  }

  input, textarea {
    @apply outline-0;
  }
}
